*{
    font-family: Poppins,sans-serif;
}

body{
    margin: 0px;
    position: relative;
}
.header{
    background:#0b214a;
    padding-top: 25px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.mynav__container__navlist{
    list-style: none;
    display: grid;
    grid-template-columns: 150px 100px 100px 100px 100px 100px 100px;
    grid-gap: 10px;
}
.mynav__container__navlist--right{
    display: grid;
    grid-template-columns: 100px 200px;
    grid-gap: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.mynav__container__navlist__navitem__item{
    color: white;
    text-decoration: none;
}
.mynav__container__navlist__navitem_img{
    width: 20px;
    height: 20px;
}
.mynav__container__navlist__button{
    width: 150px;
    height: 40px;
    background-color: #2352a8;
    color: white;
}

#logo{
    width: 100px;
    margin: 0;
}



.section1{
    margin-top: 0px;
    padding: 20px;
    background-image:url('../assets/img/fondo.png');
    background-size: cover;
    width: 100%;
    height: 490px;
}
.section1__container{
    width: 50%;
    height: 250px;
    margin-left: 25%;
    top:550px
}
.section1__container__title{
    font-size: 60px;
    color: white;
    margin-bottom: 0%;
}
.section1__container__description{
    color: #c4f0ff;
    font-size: 1.7em;
}
.section1__container__button{
    color: white;
    border: 2px solid #0073ec;
    background-color: #003f8c;
    font-size: 1em;
    height: 55px;
    width: 150px;
}

.section2{
    background-color: white;
    width: 70%;
    height: 250px;
    margin-left: 15%;
    position:absolute;
    z-index: 1;
    border-radius: 10px;
    top:550px
}
.section3{
    background-color: rgb(219, 219, 219);
    width: 100%;
    height: 700px;
}
.section3__container{
    padding-top: 250px;
    width: 50%;
    height: 250px;
    margin-left: 25%;
    top:550px
}
.section3__container__title{
    font-size: 40px;
    margin-bottom: 0%;
    text-align: center;
}
.applications{
    display: grid;
    grid-template-columns: 280px 280px 280px;
}
.applications__title{
    color: #022144;
    font-size: 40px;
    margin-bottom: 0%;
}
.applications__title__description{
    font-size: 15px;
    margin-top: 0%;
}
.section3__container__button{
    text-align: center;
}
.section3__container__button1{
    color: white;
    background-color: #0073ec;
    font-size: 1em;
    height: 55px;
    width: 150px;
    margin-top: 30px;
}

.section4{
    background-color: rgb(255, 255, 255);
    width: 100%;
}
.section4__container{
    padding-top: 50px;
    width: 50%;
    height: 250px;
    margin-left: 25%;
}
.section4__container__title{
    font-size: 40px;
    text-align: center;
}
.section4__container__description{
    font-size: 30px;
    text-align: center;
}
.build{
    padding-top: 230px;
    width: 70%;
    margin-left: 15%;
}
.build--share{
    padding: 0px;
}
.build--run{
    padding: 0px;
}
.build__container{
    display: grid;
    grid-template-columns: 50% 50%;
}
.build__container__img{
    float: right;
    width: 500px;
}

.section5{
    background-color: #003f8c;
    width: 100%;
    height: 500px;
}
.section6{
    background-color: white;
    width: 100%;
    height: 500px;
}
.section7{
    background-color: rgb(219, 219, 219);
    width: 100%;
    height: 500px;
}
.section8{
    background-color: white;
    width: 100%;
    height: 350px;
}
.section9{
    background-color: rgb(219, 219, 219);
    width: 100%;
    height: 1500px;
}
.section10{
    background-color: white;
    width: 100%;
    height: 700px;
}
.section11{
    background-color: rgb(219, 219, 219);
    width: 100%;
    height: 250px;
}
.section12{
    background-color: #2496ed;
    width: 100%;
    height: 300px;
}

.footer{
    background-color: #022144;
    width: 100%;
    padding-top: 80px;
}



.section2_img{
    float: left;
    width: 30%;
    margin-left: 20px;
}

.section5__container{
    padding-top: 50px;
    width: 50%;
    height: 250px;
    margin-left: 25%;
}
.section5__container__title{
    color: white;
    text-align: center;
    font-size: 55px;
}
.section5__container__description{
    color: white;
    text-align: center;
    font-size: 25px;
    margin-bottom: 80px;
}
.section5__container__linker{
    text-align: center;
}
.section5__container__link{
    color: white;
    text-decoration: none;
    font-size: 15px;
}